Source: divevpn-service
Section: unknown
Priority: optional
Maintainer: naeper <naeper@demlabs.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: http://demlabs.net

Package: divevpn-service
Architecture: any
Depends: psmisc, ${shlibs:Depends}, ${misc:Depends}
Description: DiveVPN backend service
 DiveVPN backend service


