*{
    font: 12pt bolds;
    color: rgb(255,255,255);
}

QWidget{
}

QMainWindow{

/*background: qlineargradient(spread:pad, x1:0, y1:0.245, x2:0.0101523, y2:0.789, stop:0 rgba(178, 243, 254, 255), stop:1 rgba(75, 210, 255, 255));*/
    border-image: url(':/pics/bg@3x.png') 0 0 0 0 stretch stretch;
    border-width: 0px;
}

QMessageBox {
    background: rgba(75, 210, 255, 255);
}

QMessageBox QPushButton {
    border-radius: 5px;
    background-color: rgb(240, 252, 254);
    color: #03A7C6;
    width: 50px;
    height: 30px;
}

QMessageBox QPushButton:hover{
    background-color: #14B4DD;
    color: #fff;
    border: 1px solid #fff;
}


QMainWindow#Login {
}

QMainWindow#Login QLineEdit,QComboBox{
}


QMainWindow#Dashboard{
}

QPushButton {
}

QPushButton:pressed{
}

QPushButton:disabled{
}

QPushButton:hover{
    border-width: 2px;
    border-color: black;
}

QLineEdit{
}

QLineEdit:disabled{
}

QListView{
}

QGroupBox{
}



/* color: rgb(75, 210, 255); */
/* background-color:  rgb(38, 180, 207); */

QComboBox{
    border: none;
    font-weight:bold;
    color: #03A7C6;
    /*color: rgba(255, 255, 255, 0.8);             /* цвет шрифта */

    background-color:  rgba(255, 255, 255, 0);   /* цвет фона*/
    padding-left: 20px;                          /* отступ от левого края*/
    font: 18px Regular;
}

#cbLoginLocation{
    color: rgba(255, 255, 255, 0.8);
}

QComboBox QListView{
    background-color: rgb(221, 248, 255);
    color: rgb(0, 0, 0) ;
}

QComboBox QListView::separator{
    width:  266px;
    color:#03A7C6;
}

QComboBox::item{
    color: rgb(75, 210, 255);
}

/*Проверить что не так, ибо размеры флагов почему-то не выстовляются*/
QComboBox::item::QIcon{
    width: 25px;
    height: 15px;
}

QComboBox::item::selected{
    color: rgb(255, 255, 255);
    background-color: rgb(75, 210, 255);
}

QComboBox::drop-down{
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
/*    background-color:   rgb(221, 248, 255);*/
    selection-background-color: #14B4DD;
    selection-color: #fff;
    color: rgb(0, 0, 0) ;
    background-color: rgba(221, 248, 255,0) ;
    border-width: 0px;
}

QComboBox:on { /* shift the text when the popup opens */
    padding-top: 3px;
    padding-left: 4px;
}

QComboBox::down-arrow {
    padding-right: 10px;
    height: 30px;
    width: 30px;
    image: url(:/pics/arrow_down_mainscreen\@3x.png);
    background-color:  rgb(38, 180, 207, 0);
}


QComboBox QAbstractItemView {
        color:rgb(0,0,0);
}

QLineEdit[echoMode="2"] {
    lineedit-password-character: 9679;
}

QLineEdit[echoMode="1"] {
    lineedit-password-character: 9679;
}

QLineEdit:read-only {
}

QHeaderView::section {
}

#btRegisterH:hover {
        color: rgb(3,167,198);
}

#btRestoreH:hover {
        color: rgb(3,167,198);
}

#btRestorePasswordV:hover {
        color: rgb(3,167,198);
}

#cbLocationV {
        color: rgb(0,0,0);
}

#lineUsername{
color: rgba(255, 255, 255, 0.65);
}

#linePassword{
color: rgba(255, 255, 255, 0.65);
}

#lineUpstream{
color: rgba(255, 255, 255, 0.65);
}

#edUsername{
color: rgba(255,255,255, 0.8);
}

#edPassword{
color: rgba(255,255,255, 0.8);
}

#btRegister{
        color: #fff;
}

#btRegister:hover{
        color: #1892ac;
}

#btRestore{
        color: #fff;
}

#btRestore:hover{
        color: #1892ac;
}

#bgUsername{
        background-color: rgb(240, 252, 254);
}

#bgStatistics
{
        background-color: rgb(240, 252, 254);
}




